<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Note</title>
  </head>
  <nav class="navbar navbar-expand-lg navbar-light">
    <form class="form-inline">
      <a class="btn btn-outline-light" href="/lab-4/" role="button">Home</a>
      <a class="btn btn-dark" href="/lab-4/note-list" role="button">Note List</a>
      <a class="btn btn-outline-light" href="/lab-4/add-note" role="button">Add Note</a>
    </form>
    </nav>
  <style>
    body {
        background-image: linear-gradient(to right, rgb(31, 30, 92), rgb(172, 126, 247));
        font-family:'Gothic A1', sans-serif; 
      }
    h1{
        text-align: center;
        padding-top: 20px;
        padding-right: 10px;
        padding-bottom: 25px;
        padding-left: 10px;
    }
    .card{
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        border-radius: 10px;
        margin-left: 50%;      
        margin-right: 50%;
        width: auto;  
    }
    .card:hover{
      background-color: rgb(146, 173, 224);
    }
    .btn-outline-light{
      margin-right: 10px;
    }
    .btn-dark{
      margin-right: 10px;
    }

</style>
<body>
    <h1 style="color: #c4d4f7;"><strong>Notes List</strong></h1>
    <div class="card-columns">
        {% for element in notes %}   
        <div class="card">
          <h4 class="card-header" style="background-color: #201e44; color: #99b8fa;" ><Strong>{{element.title}}</Strong></h5>
          <div class="card-body">
            <h6 class="card-title">From : {{ element.sender }}</h5>
            <h6 class="card-title"> To : {{ element.receiver }}</h5>
            <p class="card-text">{{ element.message }} </p>
          </div>
        </div>
        <br>
        {% endfor %}  
    </div>
  </body>
</html>