{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>New Note</title>
</head>
<nav class="navbar navbar-expand-lg navbar-light">
    <form class="form-inline">
      <a class="btn btn-outline-light" href="/lab-4/" role="button">Home</a>
      <a class="btn btn-outline-light" href="/lab-4/note-list" role="button">Note List</a>
      <a class="btn btn-dark" href="/lab-4/add-note" role="button">Add Note</a>
    </form>
    </nav>
    <body> 
        <h2 style="color: #c4d4f7;"><strong>Add Note</strong></h2>
        <form method="POST" action="" class="addForm"> {% csrf_token %}
            <div class="col">
              <label for="toField" style="color: white">To:</label>
            <input type="text" id="toField" class="form-control" placeholder="Write receiver name" name="receiver" >
          </div>
        <br>
        <div class="col">
          <label for="fromField" style="color: white">From:</label>
            <input type="text" id="fromField" class="form-control" placeholder="Write sender name" name="sender">
        </div>
        <br>
        <div class="col">
          <label for="titleField" style="color: white">Title:</label>
            <input type="text" id="titleField" class="form-control" placeholder="Write your title" name="title">
        </div>
        <br>
        <div class="form-group">
          <label for="messageField" style="color: white">Message:</label>
            <textarea type="text" id="messageField" class="form-control" placeholder="Write your message" name="message" required></textarea>
        </div>
        <br>
            <input type ="submit" value="Submit" class="submitButton">
        </form>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <style>
        body {
        text-align: center;
        background-image: linear-gradient(to right, rgb(31, 30, 92), rgb(172, 126, 247));
        font-family:'Gothic A1', sans-serif; 
      }
        .addForm {
        width: 35%;
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
      }
        .submitButton{
        width: 80px;
        height: 30px;
        background-color: #c4d4f7;
        color: rgb(31, 30, 92); /* SET COLOR IN WHITE */
      }
      .submitButton:hover{
        background-color: white;
      }
      .btn-outline-light{
      margin-right: 10px;
      }
      .btn-dark{
      margin-right: 10px;
      } 

      
        </style>
    </body>
</html>
