<!DOCTYPE html>
<html lang="en">
  <head>
    <nav class="navbar navbar-expand-lg navbar-light">
      <form class="form-inline">
        <a class="btn btn-dark" href="/lab-4/" role="button">Home</a>
        <a class="btn btn-outline-light" href="/lab-4/note-list" role="button">Note List</a>
        <a class="btn btn-outline-light" href="/lab-4/add-note" role="button">Add Note</a>
      </form>
      </nav>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Note</title>
  </head>
  <style>
    body {
        background-image: linear-gradient(to right, rgb(31, 30, 92), rgb(172, 126, 247));
        font-family:'Gothic A1', sans-serif; 
      }
    table, th, td {
      border:1px solid black;
    }
  </style>
  <body>
    <h1 style="color: #c4d4f7;"><strong>Notes</strong></h1>    
    <table styles="width: 50%">
      <table class="center">
      <style>
        h1 {text-align: center;}
        .btn-outline-light{
         margin-right: 10px;
        }
        .btn-dark{
        margin-right: 10px;
       }
        table {
          font-family: Arial, Helvetica, sans-serif;
          border-collapse: collapse;
          width: 50%;
        }
        table, th, td {
          border: 2px solid #201e44;
          padding: 8px;
        }
        table, tr:nth-child(even){background-color: #ffffff;}
        table, tr:hover {background-color:#99b8fa;}
        table th {
          padding-top: 12px;
          padding-bottom: 12px;
          text-align: left;
          background-color: #201e44;
          color: #99b8fa;
        }
        table.center {
              margin-left: auto;
              margin-right: auto;
              margin-top: auto;
              margin-bottom: auto;
            }
      </style>
      <tr>
        <th>To</th>
        <th>From</th>
        <th>Title</th>
        <th>Message</th>
      </tr>
      <!-- TODO loop from Friend model -->
      <!-- EXAMPLE SECTION -->
      {% for element in notes %}
      <tr>
        <td>{{ element.sender }}</td>
        <td>{{ element.receiver }}</td>
        <td>{{ element.title }}</td>
        <td>{{ element.message }}</td>
      </tr>
      {% endfor %}
      <!-- END SECTION -->
    </table>
  </body>
</html>
